



$color-text-lighten: #F2F2F2;
$color-text-darken: #130B26;

$color-bg-darken: #130B26;
$color-bg-lighten: #F26D3D;
$color-bg-pale: #F2E8DF;

$font-size-base: 100%;

$font-family-montserrat: 'montserrat', serif, Georgia;
$font-family-courier: 'courier', serif, Georgia;


// FONTS
//........................................

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'courier';
    src: url(../fonts/CourierPrime-Regular.ttf) format('truetype');
}