



$color-text-lighten: #F2F2F2;
$color-text-darken: #1A1A26;

$color-bg-darken: #1A1A26;
$color-bg-lighten: #35F287;
$color-bg-pale: #F2F2F2;

$font-size-base: 100%;

$font-family-raleway: 'raleway', serif, Georgia;
$font-family-raleway-bold: 'raleway-bold', sans-serif, Georgia;
$font-family-typewrite: 'typewrite', sans-serif, Georgia;


// FONTS
//........................................

@font-face {
    font-family: 'raleway';
    src: url(../fonts/Raleway-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'raleway-bold';
    src: url(../fonts/Raleway-Light.ttf) format('truetype');
}