



$color-text-lighten: #F2F2F2;
$color-text-darken: #1A1A26;

$color-bg-darken: #1A1A26;
$color-bg-lighten: #35F287;
$color-bg-pale: #F2F2F2;

$font-size-base: 100%;

$font-family-raleway: 'raleway', serif, Georgia;
$font-family-raleway-bold: 'raleway-bold', sans-serif, Georgia;
$font-family-paris: 'paris', sans-serif, Georgia;
