



// calc px to em function
//.........................................

@function calcEm ($size, $context: 16) {
    @return ($size / $context) + em;
};


@import '_variables';
@import '_general';
@import '_header';
@import '_main';
@import '_footer';
@import '_media-query';


// FONTS
//........................................

@font-face {
    font-family: 'raleway';
    src: url(../fonts/Raleway-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'raleway-bold';
    src: url(../fonts/Raleway-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'paris';
    src: url(../fonts/Raleway-ExtraLight.ttf) format('truetype');
}

