html {
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f8f9fa; }

* {
  font-family: "worksans", sans-serif, serif, Georgia; }

header {
  background-image: url(../images/rocket_man.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh; }

header nav {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  width: 100%; }

.active-on-scroll-down {
  background: #0f0a38;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: center;
  transition: 0.5s ease;
  padding: 0.625em;
  font-size: 0.90625em;
  opacity: 0.95; }

header nav, ul, li, a {
  background: none; }

header nav ul {
  font-size: 0.9375em;
  font-weight: bolder;
  display: flex; }

header nav ul li {
  list-style: none;
  margin: 1.875em 1.3125em; }

header nav ul li:hover {
  transform: scale(1.15);
  transition: 0.2s ease-in; }

header nav ul li a {
  text-decoration: none;
  margin: 0.3125em;
  padding: 0.9375em;
  color: #f8f9fa; }

header nav ul li a:hover {
  color: #cbd3da; }

header h1 {
  padding-top: 3.125em;
  margin: 0 1.875em;
  font-size: 3.4375em;
  font-weight: bold;
  color: #f8f9fa;
  line-height: 1.5;
  background: none;
  max-width: 300px; }

header .typeeffect {
  margin: 0 1.875em;
  color: #17a2b8;
  position: relative;
  display: inline;
  text-transform: uppercase;
  padding: 0.125em 0; }

header .typeeffect::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  border-right: 2px solid #f8f9fa;
  animation: blinking 0.8s infinite ease;
  top: 0;
  margin-left: 0.125em; }

@keyframes blinking {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#burger-menu {
  display: none; }

main {
  margin: 0 10.625em;
  background: #f8f9fa; }

main .purpose {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3.75em 0;
  position: relative; }

main .purpose h1 {
  font-size: 2.8125em;
  color: #343a40;
  margin: 0.9375em;
  padding-bottom: 0.4375em;
  position: relative;
  text-align: center; }

main .purpose h1:before {
  content: '';
  box-shadow: 0 2px 0 #E15040;
  position: absolute;
  left: 35%;
  bottom: 0;
  height: 2px;
  width: 30%; }

main .purpose .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

main .purpose .container article {
  padding: 1.25em;
  min-width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

main .purpose .container article img {
  height: 10.625em;
  width: 7.5em;
  margin: 0;
  padding: 0; }

main .purpose .container article h3 {
  font-size: 1.5625em;
  margin-bottom: 1.25em;
  color: #343a40; }

main .purpose .container article p {
  font-size: 1.125em;
  margin: 0.3125em;
  line-height: 1.5;
  color: #6c757d;
  max-width: 12.5em; }

main .purpose .container article a {
  text-decoration: none;
  color: #4D39BF;
  font-weight: bold;
  margin: 0.3125em;
  padding: 0.4375em; }

main .purpose .container article a:hover {
  color: #2d2270; }

main .purpose .container article a img {
  height: 1.5625em;
  width: 3.125em;
  padding: 1px;
  margin: -0.5625em -0.3125em -0.3125em 0em;
  background: none; }

main .purpose .container article a:hover > img {
  transform: translateX(10px);
  transition: 0.5s ease; }

main .worldwide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 9.375em 0;
  position: relative; }

main .worldwide h1 {
  font-size: 2.8125em;
  color: #343a40;
  margin: 0.9375em;
  padding-bottom: 0.4375em;
  position: relative;
  text-align: center; }

main .worldwide h1:before {
  content: '';
  box-shadow: 0 2px 0 #E15040;
  position: absolute;
  left: 35%;
  bottom: 0;
  height: 2px;
  width: 30%; }

main .worldwide article {
  display: flex;
  flex-direction: row-reverse;
  margin: 2.5em 1.25em; }

main .worldwide article p {
  font-size: 1.125em;
  margin: 2.8125em 0.9375em;
  line-height: 1.5;
  color: #6c757d;
  max-width: 20.625em;
  display: flex;
  align-items: center; }

main .worldwide article img {
  height: 28.125em;
  width: 53.125em; }

main .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 9.375em 0; }

main .projects h1 {
  font-size: 2.8125em;
  color: #343a40;
  margin: 0.9375em;
  padding-bottom: 0.4375em;
  position: relative;
  text-align: center; }

main .projects h1:before {
  content: '';
  box-shadow: 0 2px 0 #E15040;
  position: absolute;
  left: 35%;
  bottom: 0;
  height: 2px;
  width: 30%; }

main .projects article {
  display: flex;
  margin: 2.5em 1.25em; }

main .projects article p {
  font-size: 1.125em;
  margin: 2.8125em 0.9375em;
  line-height: 1.5;
  color: #6c757d;
  max-width: 21.875em; }

main .projects article img {
  height: 31.25em;
  width: 56.25em; }

.apply {
  background-image: linear-gradient(180deg, #0df, #1a9ac3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #343a40;
  box-shadow: 0 0 6px #6c757d; }

.apply h1 {
  font-size: 2.5em;
  margin-top: 3.4375em;
  background: none;
  text-align: center; }

.apply #btn {
  font-size: 1.25em;
  background: #ADFF70;
  border: 1px solid #ADFF70;
  border-radius: 5px;
  width: 6.25em;
  text-align: center;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  padding: 0.375em;
  box-shadow: 0 0 7px #343a40;
  color: #343a40;
  padding: 0.3125em;
  cursor: pointer; }

.apply #superhide-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ADFF70;
  box-shadow: 0 0 7px #343a40;
  padding: 0.3125em;
  margin: 0.625em;
  border-radius: 0.25em;
  visibility: hidden; }

.apply #superhide-contact.show {
  visibility: visible; }

.apply #superhide-contact li {
  list-style: none;
  font-size: 1.5625em;
  margin: 0.0625em; }

.empty-aside img {
  width: 100%;
  max-width: 100%;
  vertical-align: top; }

.pre-footer {
  background-color: #1d2124; }

.pre-footer ul {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.pre-footer ul li {
  list-style: none;
  padding: 5.625em 1.125em; }

.pre-footer ul li:hover {
  transform: scale(1.15);
  transition: 0.2s ease-in; }

.pre-footer ul li a {
  color: #bdc6d0;
  text-decoration: none;
  padding: 0.625em; }

.pre-footer ul li a:hover {
  color: #cbd3da; }

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #121416; }

.site-footer img {
  width: 300px;
  height: 150px;
  background: none;
  margin-top: 1.875em; }

.site-footer ul {
  display: flex; }

.site-footer ul li {
  list-style: none; }

.site-footer ul li a {
  margin: auto 0.9375em; }

.site-footer ul li a img {
  height: 40px;
  width: 40px;
  margin: 0; }

.site-footer h3 {
  background: none;
  margin: 2em auto;
  color: #f8f9fa; }

@media screen and (max-width: 1100px) {
  header h1 {
    font-size: 2.5em; }

  main {
    margin: 0 5em; }

  main .worldwide article p {
    font-size: 1.125em;
    margin: 2.8125em 0.625em;
    line-height: 1.5;
    color: #6c757d;
    max-width: 20em;
    display: flex;
    align-items: center; }

  main .worldwide article img {
    height: 25em;
    width: 46.875em; }

  main .projects article p {
    margin: 2.8125em 0.625em;
    max-width: 21.875em; }

  main .projects article img {
    height: 25em;
    width: 46.875em; } }
@media screen and (max-width: 950px) {
  header {
    height: 130vh;
    width: 100%; }

  header h1 {
    font-size: 2.5em; }

  header nav ul li {
    margin: 1.25em 0.625em; }

  main .purpose h1 {
    font-size: 2.5em; }

  main .worldwide article {
    flex-wrap: wrap;
    margin: 0.625em 1.25em;
    justify-content: center;
    text-align: center; }

  main .worldwide article p {
    font-size: 1.1875em;
    margin: 0.9375em 0.9375em;
    max-width: 23.125em; }

  main .projects article {
    flex-wrap: wrap;
    margin: 0.625em 1.25em;
    justify-content: center;
    text-align: center; }

  main .projects article p {
    font-size: 1.1875em;
    margin: 0.9375em 0.9375em;
    max-width: 23.125em; }

  main .worldwide h1 {
    font-size: 2.5em;
    margin: 0.625em; }

  main .projects h1 {
    font-size: 2.5em;
    margin: 0.625em; } }
@media screen and (max-width: 800px) {
  header {
    height: 120vh;
    width: 100%; }

  header h1 {
    padding-top: 2.5em;
    font-size: 2.5em;
    max-width: 60%; }

  main .purpose {
    margin: 0; }

  main .projects article img {
    height: 18.75em;
    width: 18.75em; }

  main .worldwide article img {
    height: 20em;
    width: 20em; } }
@media screen and (max-width: 780px) {
  header h1 {
    padding-top: 2.8125em;
    font-size: 2.1875em;
    max-width: 60%; } }
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    width: 100%; }

  #burger-menu {
    display: block;
    height: 30px;
    width: 30px;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5em 0.9375em;
    z-index: 10; }

  .navmenu-show {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #0f0a38;
    z-index: 5;
    justify-content: center;
    align-items: center;
    padding: 0.9375em;
    font-size: 1.25em;
    opacity: 0.95;
    height: 100vh; }

  .active-on-scroll-down {
    padding: 1.4375em; }

  header nav ul {
    display: none; }

  header nav ul li {
    margin: 1.25em 0.6875em; }

  header nav ul li a {
    padding: 0.625em; }

  main .projects article img {
    height: 18.75em;
    width: 18.75em; }

  main .worldwide article img {
    height: 18.75em;
    width: 18.75em; }

  .pre-footer ul li {
    list-style: none;
    padding: 1.25em 1.125em; }

  .apply h1 {
    font-size: 2.1875em; } }
@media screen and (max-width: 480px) {
  header h1 {
    padding-top: 2.5em;
    font-size: 1.875em;
    max-width: 60%; }

  main {
    margin: 0; }

  main .worldwide article {
    display: flex;
    flex-direction: row-reverse;
    margin: 1.25em 0.3125em; }

  main .worldwide article p {
    font-size: 1.125em;
    margin: 2.8125em 0.3125em;
    line-height: 1.5;
    color: #6c757d;
    max-width: 20.625em;
    display: flex;
    align-items: center; }

  main .worldwide article img {
    height: 12.5em;
    width: 12.5em; }

  main .projects article {
    display: flex;
    flex-direction: row-reverse;
    margin: 1.25em 0.3125em; }

  main .projects article p {
    font-size: 1.125em;
    margin: 2.8125em 0.3125em;
    line-height: 1.5;
    color: #6c757d;
    max-width: 20.625em;
    display: flex;
    align-items: center; }

  main .projects article img {
    height: 12.5em;
    width: 12.5em; } }
@font-face {
  font-family: 'worksans';
  src: url(../fonts/WorkSans-VariableFont_wght.ttf) format("truetype"); }

/*# sourceMappingURL=style.css.map */
