
/* Hlavna sekcia */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
    background: black;
}

/*HEADER*/

.header {
    height: 13vh;
    background: white;
    padding: 0 20px;
    color: black;
    font-family: 'Holtwood One SC', serif;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
    border-bottom: 1px solid black;
}

.logo img {
    height: 70px;
    float: left;
    margin-top: 10px;
}

.hide-logo {
    display: none;
}

.menu {
    float: right;
    line-height: 100px;
}

.menu a {
    color: black;
    padding: 0 10px;
    transition: 0.5s;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 100px;
}

.menu a:hover, .show-menu-btn:hover,.hide-menu-btn:hover {
    color: #ffaa4a;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: 0;
}

.show-menu-btn, .hide-menu-btn {
    transition: 0.5s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/*FIRST SECTION */

.first-section {
    display: flex;   
    background-color: black;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    margin-left: 0px;
}

.first-section .hide-name {
    display: none;
}

.first-section p {
    display:flex;
    font-size: 10rem;
    font-weight: bolder;
    font-family: 'Holtwood One SC', serif;
    line-height: 1.2;
    letter-spacing: 5px;
    background: url(images/porsche911.jpg);
    background-size: 60%;
    background-repeat: repeat;
    background-position: top;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/* SECOND SECTION */

.second-section {
    display: flex;
    flex-direction: row;
    color: black;
    height: auto;
    align-items: center;
    background: white;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
    font-family: 'JetBrains Mono', monospace;
}

.second-section .feed-container {
    flex-direction: column;
    text-align: center;
    padding: 30px 20px 30px 20px;
    margin: 5px 5px 60px 5px;
    line-height: 1.5;
}

.second-section .feed-container img {
    height: 130px;
    width: 130px;
    border-radius: 50%;   
}

.second-section .fas {
    color: #ffaa4a;
}


/* THIRD SECTION */

.third-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'JetBrains Mono', monospace;
    padding: 140px 10px;
}


.cards-container {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 20px;
    color: black;
    font-size: 20px;
}

.cards-container img{
    height: 55px;
    width: 55px;
}

/*first*/

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.9s ease-in-out;
    transform-style: preserve-3d;
}

.cards-container:hover .card {
    transform: rotateY(180deg)
}

.card figure {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.card .front {
    background: white;
    text-align: center;
}

.card .back {
    background-image: url(images/car_repair.jpg);
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);      
}

.card .back h1 {
    color: white;
    background: black;
    border: 2px solid #ffaa4a;
    border-radius: 7px;
    text-align: center;
    padding: 10px;  
}

.card .back a {
    background: #ffaa4a;
    padding: 5px;
    margin-top: 7px;
    border: 1px solid black;
    border-radius: 7px;
    color: black;
    font-weight: bold;
}


/*second*/

.card1 {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.cards-container:hover .card2 {
    transform: rotateY(180deg)
}

.card1 figure {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.card1 .front {
    background: white;
    text-align: center;

}

.card1 .back {
    background-image: url(images/car_diagnostic.jpg);
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg)
}

.card1 .back h1 {
    color: white;
    background: black;
    border: 2px solid #ffaa4a;
    border-radius: 7px;
    text-align: center;
    padding: 10px;  
}

.card1 .back a {
    background: #ffaa4a;
    padding: 5px;
    margin-top: 7px;
    border: 1px solid black;
    border-radius: 7px;
    color: black;
    font-weight: bold;
}

/*third*/

.card2 {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.cards-container:hover .card1 {
    transform: rotateY(180deg)
}

.card2 figure {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.card2 .front {
    background: white;
    text-align: center;

}

.card2 .back {
    background-image: url(images/car_charging.jpg);
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg)
}

.card2 .back h1 {
    color: white;
    background: black;
    border: 2px solid #ffaa4a;
    border-radius: 7px;
    text-align: center;
    padding: 10px;  
}

.card2 .back a {
    background: #ffaa4a;
    padding: 5px;
    margin-top: 7px;
    border: 1px solid black;
    border-radius: 7px;
    color: black;
    font-weight: bold;
}
/*fourth*/

.card3 {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.cards-container:hover .card3 {
    transform: rotateY(180deg)
}

.card3 figure {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.card3 .front {
    background: white;
    text-align: center;
    color: black;
}

.card3 .back {
    background-image: url(images/car_winter.jpg);
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);
    color: #ffaa4a;
}

.card3 .back h1 {
    color: white;
    background: black;
    border: 2px solid #ffaa4a;
    border-radius: 7px;
    text-align: center;
    padding: 10px;  
}

.card3 .back a {
    background: #ffaa4a;
    padding: 5px;
    margin-top: 7px;
    border: 1px solid black;
    border-radius: 7px;
    color: black;
    font-weight: bold;
}

/*FOURTH SECTION*/

.fourth-section {
    display: flex;
    flex-direction: row;
    height: 65vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    border-radius: 5px;
    font-family: 'JetBrains Mono', monospace;
}

.fourth-section .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: black;
    width: 100%;
    height: 20vh;
}

.contact-item {
    text-align: center;
    width: 33%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.gmap_canvas {
    border: 1px double black;
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    margin-bottom: 30px;
}

/*FOOTER */

footer {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

.find-us {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 30px;
    margin: 30px 1px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.social-media img {
    height: 60px;
    width: 60px;
    margin: 5px 30px;
}

.copy {
    padding: 10px 5px;
    margin: 60px 0px;
}



/* media queris */

@media screen and (max-width: 1150px) {
    .first-section p{
        font-size: 8rem;
    }
}

@media screen and (max-width: 930px) {
    .first-section p{
        font-size: 7rem;
    }
}

@media screen and (max-width: 800px) {
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 60px 0;
        transition: 0.8s;
    }
    .menu a {
        display: block;
    }
    .hide-menu-btn {
        position: absolute;
        top: 30px;
        right: 55px;
    }
    #chk:checked ~ .menu{
        right: 0; 
    }
}

@media screen and (max-width: 800px) {
    .first-section p {
        display: none;
        background-size: 260%; 
    }
    .first-section .hide-name {
        display: flex;
        font-size: 12rem;
        line-height: 1;  
    }
    .logo {
        display: none;
    }

    .hide-logo {
        display: inline;
        line-height: 4;

    }
}

@media screen and (max-width: 550px) {
    .hide-logo {
        font-size: 1.15rem;
        line-height: 5.3;
    }
    .social-media img {
        width: 30px;
        height: 30px;
    }
    .contact-item:not(#not) {
    border-right: 1px solid black;
}
}




