



.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: darken($color-bg-darken, 15%);
}

.site-footer img {
    width: 300px;
    height: 150px;
    background: none;
    margin-top: pxToEm(30);
}

.site-footer ul {
    display: flex;
}

.site-footer ul li {
    list-style: none;
}

.site-footer ul li a {
    margin: auto pxToEm(15);
}

.site-footer ul li a img {
    height: 40px;
    width: 40px;
    margin: 0;
}

.site-footer h3 {
    background: none;
    margin: pxToEm(32) auto;
    color: $color-text-lighten;
}




