



//convert px to em

@function pxToEm ($size, $context: 16) {
    @return ($size / $context) + em;
};


header {
    background: {
        image: url(../images/rocket_man.svg);
        repeat: no-repeat;
        size: cover;
    }
    height: 150vh;
}

header nav {
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    width: 100%;
}

// class for navbar animation

.active-on-scroll-down {
    background: $color-bg-muted;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: center;
    transition: 0.5s ease;
    padding: pxToEm(10);
    font-size: pxToEm(14.5);
    opacity: 0.95;
}

header nav, ul, li, a {
    background: none;
}

header nav ul {
    font: {
        size: pxToEm(15);
        weight: bolder;
    }
    display: flex;
}

header nav ul li {
    list-style: none;
    margin: pxToEm(30) pxToEm(21);
}

header nav ul li:hover {
    transform:scale(1.15);
    transition: 0.2s ease-in;
}

header nav ul li a {
    text-decoration: none;
    margin: pxToEm(5);
    padding: pxToEm(15);
    color: $color-text-lighten;
}

header nav ul li a:hover {
    color: darken($color-text-lighten, 15%);
}

header h1 {
    padding-top: pxToEm(50);
    margin: 0 pxToEm(30);
    font: {
        size: pxToEm(55);
        weight: bold;
    }
    color: $color-text-lighten;
    line-height: 1.5;
    background: none;
    max-width: 300px;
}

header .typeeffect {
    margin: 0 pxToEm(30);
    color: $color-item-colorfull;
    position: relative;
    display: inline;
    text-transform: uppercase;
    padding: pxToEm(2) 0;
}

header .typeeffect::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid $color-text-lighten;
    animation: blinking 0.8s infinite ease;
    top: 0;
    margin-left: pxToEm(2)
}

@keyframes blinking {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}
#burger-menu {
    display: none;
}