



/*MAIN*/

@font-face {
    font-family: 'resume';
    src: url(../fonts/IBMPlexSerif-ExtraLight.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'resume', sans-serif;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

/*NAVIGATION*/

header {
    position: sticky;
    top: 0;
    background: inherit;
    text-transform: uppercase;
    z-index: 5;
    background: #e3eeff;
    color: #40130A;
}

nav {
    min-height: 8vh;
    margin: auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}
nav h1 {
    display: flex;
    flex: 1;
    font-size: 2.5rem;
}

.zero-float {
    margin-left: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    flex: 1;
}

nav a {
    color: #40130A;
    text-decoration: none;
    margin: auto 10px;
    font-size: 1.5rem;
    padding: 5px;
}

/* MAIN SECTION */

main {
    min-height: 92vh;
    color: #40130A;
}

.main-section {
    display: flex;
    flex-direction: column
}

.main-section h1 {
    font-size: 2.3rem;
    margin: auto 10px;
}

.language-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.language-icon img {
    width: 50px;
    height: 50px;
    margin: 12px 5px;
    padding: auto 5px;
}

.code {
    background: linear-gradient(to right, #232526, #414345); 
    width: 70px;
    height: 40px;
    border: 2px solid #414345;
    box-shadow: 0 0 2px 2px;
    border-radius: 7px;
    margin: 8px 12px;
    text-align: center;
}

.code:hover {
    background: #555A63;
}

.code a:hover {
    color: #e3eeff;
}

.code a {
    text-decoration: none;
    color: #fdfbfb;
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 1.5px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.gallery {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.gallery:hover {
    border: 2px solid #40130A;
    animation: zoom 1s ease;
}

@keyframes zoom {
    0%{transform: scale(1.03)}
    70%{transform: scale(1)}
}

.gallery img {
    width: 100%;
    height: auto;
}

.caption {
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: 5px;
}

.flex {
    padding: 5px;
    float: left;
    width: 24.995%;
    border: 1px solid #333333;
    border-radius: 5px;
    margin: auto 10px;
    background: linear-gradient(to right, #232526, #414345);
}

@media screen and (max-width: 768px) {
    .flex {
        width: 45%;
        margin: 4px 5px;
    }
}

@media screen and (max-width: 510px) {
    .flex {
        width: 90%;
    }
}