



@font-face {
    font-family: drum-font;
    src: url(fonts/HachiMaruPop-Regular.ttf);
}

@font-face {
    font-family: key-font;
    src: url(fonts/Baloo2-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(images/stage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body h2 {
    padding: 20px;
    color: #BF0606;
    font-size: 3rem;
    position: absolute;
    left: 5px;
    font-family: drum-font, sans-serif;
}

body h3 {
    padding: 20px;
    color: #BF0606;
    font-size: 2rem;
    position: absolute;
    left: 5px;
    top: 50px;
    font-family: drum-font, sans-serif;
}

.keys {
    font-family: key-font, serif;
    text-align: center;
    border: 1px solid white;
    border-radius: 9px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background:  black;
    height: 400px;
    width: 570px;
    padding-right: 70px;
    opacity: 0.9;
    box-shadow: 0 0 10px #ffffff;
    margin-top: 250px;
}

.first-line {
    display: flex;
}

.second-line {
    display: flex;
}

.third-line {
    display: flex;
}

.key {
    transition: all 0.07s ease-out;
}

.bass-drum {
    background-color: #3b76c4;
    height: 130px;
    width: 200px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.keys div kbd {
    font-size: 2.2rem;
}

.keys div span {
    font-size: 0.9rem;
}

.cymbal-one {
    background: #000abd;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    z-index: 3;
    margin-top: 60px;
    margin-right: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cymbal-two {
    background: #D9E0E7;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    z-index: 3;
    margin-top: 60px;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hi-hat {
    background: #565B60;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    z-index: 3;
    margin-right: -150px;
    margin-left: -50px;
    margin-top: 30px;
    margin-bottom: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff4ff;
}

.floor-tom {
    background-color: #3b76c4;
    border-radius: 50%;
    height: 95px;
    width: 95px;
    margin-top: 70px;
    margin-bottom: -80px;
    margin-left: -150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sticks {
    background: #BF0606;
    border-radius: 6px;
    height: 70px;
    width: 70px;
    margin-top: 70px;
    margin-bottom: -50px;
    margin-right: -100px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.medium-tom {
    background: #44bad7;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    z-index: 2;
    margin-right: 290px;
    margin-top: 30px;
    margin-bottom: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-tom {
    background: #FFF4ff;
    border-radius: 50%;
    height: 92px;
    width: 92px;
    margin-left: -180px;
    margin-right: 90px;
    margin-top: 30px;
    margin-bottom: -20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.snare-drum {
    background: #A6B3BF;
    border-radius: 50%;
    height: 94px;
    width: 94px;
    margin-top: 90px;
    margin-bottom: -90px;
    margin-right: -180px;
    margin-left: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.snare-drum span {
    z-index: 3;
}


.playing {
    transform: scale(1.15);
    box-shadow: 0 0 8px #D9E0E7 ;

}


@media screen and (max-width: 700px) {

    .bass-drum {
        background-color: #3b76c4;
        height: 130px;
        width: 180px;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        margin-left: 50px;
    }

    .cymbal-one {
        height: 65px;
        width: 65px;
        z-index: 3;
        margin-top: 60px;
        margin-right: -70px;

    }
    .cymbal-two {
        height: 65px;
        width: 65px;
        margin-top: 60px;
        margin-left: -30px;
    }

    .hi-hat {

        height: 60px;
        width: 60px;
        margin-right: -100px;
        margin-left: -100px;
        margin-top: 30px;
        margin-bottom: -30px;
    }

    .floor-tom {
        height: 75px;
        width: 75px;
        margin-top: 70px;
        margin-bottom: -80px;
        margin-left: -70px;
    }

    .sticks {
        height: 50px;
        width: 50px;
        margin-top: 70px;
        margin-bottom: -50px;
        margin-right: -100px;
        margin-left: 80px;
    }

    .medium-tom {
        height: 70px;
        width: 70px;
        margin-right: 210px;
        margin-top: 30px;
        margin-bottom: -50px;
        margin-left: 10px;

    }

    .small-tom {
        height: 72px;
        width: 72px;
        margin-left: -110px;
        margin-right: 150px;
        margin-top: 30px;
        margin-bottom: -20px;
    }

    .snare-drum {
        height: 74px;
        width: 74px;
        margin-top: 90px;
        margin-bottom: -90px;
        margin-right: -90px;
        margin-left: 165px;
    }
    .keys div span {
        font-size: 0.7rem;
    }

    .keys {
        max-width: 405px;
    }

}